<!--This is a simple view using basic HTML-->

<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Bento</h1></a>
            <p>The action of burping is called <u>Eructation</u>.</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="blogs content">
        <h2>All Blogs</h2>
    </div>
    <hr>
    <% if (blogs.length > 0) {
        blogs.forEach( (blog) => { %>
            <h3 class="title"><%= blog.title %></h3>
            <cite class="snippet"> <%=blog.author %> </cite>
            <p class="snippet"><%= blog.body %></p>

      <%  });
    }else{ %>
        <p>There are no blogs.</p>
    <%} %>
    <marquee>
        
        It`s Agatha;  naughty Agatha.<br>It`s been AGATHA all along.
    </marquee>
    <%- include('./partials/footer.ejs'); %>

</body>
</html>